<% @stories.each do |story| %>
<div class="story-box">
    <div class="story-block story-image" style="background-image: url(<%= story.image %>) "></div>
    <div class="story-block story-tb"> 
      <a href="" class="story-wp story-title">
          <%= story.title %>
      </a>
      <p class="story-wp story-text">
          <%= story.text %>
      </p>
    </div>   
    <div class="story-block">
     <a href="" class="story-sub story-un">
      # user_name
     </a> 
     <a href="" class=" story-sub story-read">
       >>>read
     </a>
    </div>
</div>
<% end %>