/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "summernote-bs4";
.pagination>li>a {          
  
  color:#21374e;
  
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #ffffff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
  
}
.pagination>li>a:hover {        
  background:#21374e;
}


   
 
 .header {
  display:table;
 }
 .ht-6 {
     height: 13vh;
     width: 73.8vw;
     background-color: #f0f0f0	;
     padding-top:2.5vh;
     margin-right:0;
     border-bottom: solid 2px #4e3618;
 }
 .top {
  display: table-cell;
  vertical-align: top;
  
 }
 .title {
     text-decoration: none;
     color: #666666;
     font-size: 2.5em;
     margin-left: 2em;
     font-family:'arial black'
 } 
 .haji {
  width:26.08vw;
  height: 8.548vh;
  background-color: #A7ACB8;
  margin: 0;
  padding-top:4vh;
  padding-left:0.5em;
  border-bottom: solid 2px #4e3618;
 }
 
 .grid-6 {
  display: inline-block;
 }
 
 .post {
  text-decoration: none;
  color: #666666;
  margin-left: 2em;
  display: inline-block;
  border: solid #4e3618	 0.1em;
  border-radius:0.25em;
  padding: 0.5em;
 }
 .big_box {
  display: inline-block;
  vertical-align: top;
 }
 .left-contents {
  width: 73.5vw;
  
 }
 .right-contents {
  width: 26.15vw;
  height: 160vh;
  background-color:#283555;
  padding-top: 1.2em;
 }
 .border_outer {
  padding: 1px;
  background: linear-gradient(to right,#60392d 20%, #e7d2cb 80%);
  width: 16vw;
  margin-left: 2em;
  border-radius:0.5em;
 }
 .border_inner {
  padding:0.7em;
  background-color:#283555;
 }
 .top-right{
  text-decoration: none;
  background: #ab7736;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.2em;
  margin-bottom: 1em;
  font-weight: bolder;
 }
 .in-right {
  display: block;
  margin-top: 1em;
  margin-left:2em;
  text-decoration: none;
  color:#666666 ;
 }
 .sign {
  height: 73vh;
  width: 30vw;
  background-color:#f0f0f0;
  margin-top: 3em;
  margin-left: 15em;
  box-shadow: 2px 2px 4px gray;
  border-radius: 0.25em;
  text-align: center;
  padding-top: 4vh;
 }
 .sign_top {
  color: #9dceff;
 }
.top-field {
 margin-top: 2vh;
 height: 4.5em;
 width: 8em;
 padding-top: 3em;
 padding-left: 0em;
 border-radius: 50%;
 border: solid 2px #c0c0c0;
 background: #ffffff;
 
}
 .field-2 {
  width: 17em;
  height: 2em;
  border-radius: 0.25em;
 }
 .field {
  margin-top: 2.2vh;
 }
 .actions {
  margin-top: 2vh;
 }
 .action {
  width: 8em;
  height: 2em;
  border-radius: 0.25em;
  background-color: #00acff;
  color: #ffffff;
  border-color:#00acff; 
 }
 .forgot {
  margin-top: 7em;
 }
 .form-story {
  display: block;
 }
 .form-image-word {
  margin-left: 43vw;
  color: #e0e0e0;
 }
 .right-cut {
  width: 40vw;
  height:1px;
  margin-left: 40vw;
  background: #ab7736;
 }
 .form-story-image {
  width: 13vw;
  height: 11vh;
  margin-left: 47vw;
  margin-top: 4vh;
  padding-left: 2vw;
  padding-top: 7vh;
  background: #f8f8f8;
 }
 .form-title-word {
  margin-top: -5vh;
  margin-left: 5vw;
  color:#e0e0e0;
 }
 .left-cut-1{
  width: 30vw;
  height: 2px;
  margin-top:-1vh;
  background:#CAE5CD;
 }
 .form-story-title {
  width: 20vw;
  height: 6vh;
  margin-left: 7vw;
  margin-top: 3vh;
 }
 .form-text-word {
  margin-top: 4vh;
  margin-left: 7vw;
  color: #e0e0e0;
 }
 .left-cut-2 {
  width: 50vw;
  height:1px;
  background: #227155;
 }
 .form-story-text {
  width: 40vw;
  height: 10vh;
  margin-left: 7vw;
  margin-top: 4vh;
 }
 .story-send {
  width: 10vw;
  height: 8vh;
  margin-left: 60vw;
  margin-top: 8vh;
  border: solid 1px #8f0303	;
  border-radius:0.5em;
 }
 
.story-show {
    display: inline-block;
    vertical-align: top;
}
.story-profile {
 width: 25vw;
}
.post-add {
 display: block;
 margin-top: 0.8em;
 padding-left: 13vw;
 padding-top: 0.6vh;
 text-decoration: none;
 color:#ffffff;
 width: 35vw;
 height: 6.5vh;
 background: #d8d8d8	;
 font-size: 1.8em;
}
.story-contents {
 height: 12vh;
 border-bottom:solid 1px #8fb8e0;
}
.post-name {
 height: 6.5vh;
}
.post-read {
 margin-left: 28vw;
 background: linear-gradient( to right, #95672f 20%, #debd96 80% );
 -webkit-background-clip: text;
 color: transparent;
}
.post-not-add {
 margin-top: 3vh;
 height: 2px;
 background: #d8d8d8;
}
.all-cut {
 height: 1px;
 width: 100vw;
 background: #7e5727;
 margin-top: 4vh;
}
.index-image {
 height:3.5vh;
 width: 1.9vw;
 border-radius: 50%;
 border: solid 1px #c0c0c0; 
 background-size:cover;
 margin-top: 1vh;
}
.user-parts {
 display: inline-block;
 vertical-align: top;
}
.story-un {
    margin-top: 1vh;
    color: #AAAAAA;
}
.top-field-2 {
 margin-top: 5em;
}
.actions-2 {
 margin-top: 5em;
}
.story-image {
    margin-left: 0vw;
    width: 18vw;
    height: 20vh;
    border-radius: 0.15em;
    background-size:cover;                 /* 画像のサイズを指定    */
   
}
.show-image {
    border-radius: 0.15em;
}
.all-story {
    margin-left: 1vw;
}
.search-tag{
    margin-left: 1vw;
    margin-top: 2vh;
}
.search-field {
    border-radius: 0.8em;
    border: solid 1px #343c65;
    outline: 0;
}
.search-submit {
    background:#d8d8d8;
    margin-left: 2px;
    border-radius: 0.3em;
    color: #ffffff;
}
.user-serch {
    margin-top: 2vh;
    margin-left: 53vw;
}
