// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-form {
    display: block;
}
.post-title-form {
    margin-left: 7vw;
    margin-top: 3vh;
    height: 7vh;
    width: 50vw;
}
.post-text-form {
    margin-left: 7vw;
    margin-top: 5vh;
    height: 55vh;
    width: 60vw;
}
.post-action {
    margin-left: 50vw;
    margin-top: 4vh;
    height: 7vh;
    width: 8vw;
}
.post-show-text {
    margin-left: 7vw;
    margin-top: 5vh;
    padding: 2em 2em;
    border: solid 1px #9ca4cb;
    border-radius: 0.5em;
    width: 57vw;
    height: 120vh;
}
.post-show-title {
    margin-top: 4vh;
    padding-left: 3vw;
    width: 50vw;
    border-bottom: solid 2px #4e3618;
    
}
