// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-primary {
    border-radius: 0.25em;
    background: #3639ba;
    color: #ffffff;
    border: solid 2px #d8d8d8;
}
.btn-danger {
    border-radius: 0.25em;
    border: solid 2px #d8d8d8;
    background: #bdbeec;
    color:#d8d8d8 ;
}
