// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-primary {
    border-radius: 0.5em;
    background: #3639ba;
    color: #ffffff;
    border: solid 2px #d8d8d8;
    height: 2em;
    margin-top: 2vh;
    padding-top: 0.6vh;
}
.btn-danger {
    border-radius: 0.5em;
    border: solid 2px #d8d8d8;
    background: #bdbeec;
    color:#d8d8d8 ;
    height: 2em;
    margin-top: 2vh;
    padding-top: 0.6vh;
}
